/**
聚光灯动画
 */
@keyframes spotlight {
  0% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
  50% {
    -webkit-clip-path: ellipse(100px 100px at 100% 50%);
    clip-path: ellipse(100px 100px at 100% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
}

/**
首页链接hover
 */
@keyframes indexLinkHover {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}

/**
首页跳转home按钮
 */
@keyframes spin {
  0%{
    transform: translate(-50%, -50%) rotate(0deg) ;
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg) ;
  }
}
@keyframes spin-s {
  0%{
    transform: translate(-50%, -50%) rotate(0deg) ;
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg) ;
  }
}
@keyframes twinkle {
  0%{
    filter: drop-shadow(0 0 10px rgba(255,255,255,0));
  }
  50%{
    filter: drop-shadow(0 0 10px rgba(255,255,255,1));
  }
  100%{
    filter: drop-shadow(0 0 10px rgba(255,255,255,0));
  }
}
@keyframes dotJump {
  0%{
    transform: translate(-50%, -50%) scale(0) ;
    opacity: .8;
  }
  100%{
    transform: translate(-50%, -50%) scale(1.3) ;
    opacity: 0;
  }
}

@keyframes toTop {
  0%{
    transform-origin: center 0 ;
    transform: rotate(2deg) translate3d(0,0,0);
  }
  100%{
    transform-origin: center 0 ;
    transform: rotate(-2deg) translate3d(0,0,0);
  }
}
